body {
    font-size: 15pt;
    box-sizing: border-box;
    margin: 0;
    
}
.header{
  background: #96CCFF;
  color: whitesmoke;
  text-shadow: 5px 5px 10px #000000;
  padding: 10px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}
p {
  padding-left: 20px;
  padding-right: 20px;
  
}
.list {
  padding-left: 20px;
  color: #05A99F;
  text-shadow: 1px 3px 3px #23B83C
  
}
footer {
  font-size: 18pt;
  text-align: center;
  padding: 20px;
  color: #1F298D;
  background-color: lightblue;
}
p {
  color:#3B4074;
  text-shadow: 2px 2px 2px #9CFFF9;
}